$color-light: #ffffff;
$color-bg-main: #f1f4f7;
$color-bg-base: #f9fafb;
$color-main: #3e63f6;
$color-notice: #ff7634;
$color-bg-users-card: #f0f2f5;
$color-users-item-add:  rgba(51, 61, 72, 0.4);
$color-text-title : #333d48;

$font-first: "Roboto", sans-serif;
$font-second: "Neurial Grotesk", sans-serif;

// --- var calendar
$bg-color: #78accd;
$white: #ffffff;
$black: #333333;
$gray: #7d8994;
$orange: #de6e46;
$purple: #ae5989;

$radius: 50%;
// --- /var calendar
