.login-head {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding-right: 1.25rem;
    background-color: $color-bg-main;
    

    &__btn {
        width: 3.375rem;
        height: 3.375rem;
        margin-right: 1.25rem ;
    }

    @media (max-width: 768px) {
        grid-row: 1 / 2;
    }
}
