@import "../../_base/var";
@import "../../_base/_elements/button";

.menu {
    grid-column: 2/ 3;
    grid-row: 1 / -1;
    background-color: $color-light;
    overflow: auto;

    &__container {
        margin: 0 1.25rem;
    }

    &.active {
        display: block;
    }
    &__wrap-title {
        display: flex;
        align-items: center;
        min-height: 5rem;
    }

    &__title {
        display: inline-block;
        position: relative;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0 0 0 2em;

        &::before {
            content: "";
            position: absolute;
            width: 1.5em;
            height: 1.5em;
            left: -2em;
            bottom: 0.1em;
            background-image: url("../img/Calendar.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @import "./_calendar/calendar";

    &__filters {
        display: inline-block;
        position: relative;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.5em;
        margin-left: 2em;

        &::before {
            content: "";
            position: absolute;
            width: 1.5em;
            height: 1.5em;
            left: -2em;
            bottom: 0.1em;
            background-image: url(../img/filter.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @import "./_login-mail/login-mali";
    @import "./_users/users";

    @media (max-width: 1024px) {
        & {
            display: none;
        }
    }
    @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 2 / 3;
        z-index: 100;
        width: 300px;
    }
}
