// --- base ---
@import "../_base/normalise";
@import "../_base/base";
@import "../_base/var";
@import "../_base/_mixins/breakpoint";
// --- /base ---

@import "../_parts/_btn-menu/_btn-menu.scss";
@import "../_parts/_logo/logo";
@import "../_parts/_login/login";
@import "../_parts/_menu/menu";
@import "../_parts/_options/options";
@import "../_parts/_tasks/tasks";

@import "../_base/_elements/_scrol/_scrol";
.task-manager {
    display: grid;
    grid-template-columns: 5rem max-content 1fr;
    grid-template-rows: 5rem auto;
    height: 100vh;
    width: 100vw;

    // @media (max-width: 768px) {
    //     grid-template-columns: 1fr max-content 1fr;
    //     grid-template-rows: max-content auto;
    // }

    // @include extra-big-desktop {
    //     //(max-width: (1920px)) {
    // }

    // @include big-desktop {
    //     //(max-width: (1440px)) {
    // }

    // @include for-desktop {
    //     //(min-width: (1200px)) {
    // }

    // @include tablet {
    //     //(max-width: (1024px)) {
    // }

    @include small-tablet {
        //(max-width: (768px)) {
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: max-content auto;
    }

    // @include mobile {
    //     //(max-width: (576px)) {
    // }
}
