::-webkit-scrollbar {
    width: 0.9rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {

    background: #DCE0E9;
    border: 3px solid transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
}